# Ignore node_modules
node_modules/

# Ignore Babel cache
.cache/

# Ignore env file
.env

# Ignore venv file
venv/

# Ignore py cache
__pycache__/

# Frontend
/client/node_modules/
/client/build/
/client/.env

# Backend
/server/__pycache__/
/server/*.pyc
/server/.env