* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.about-body {
    background-color: white;
    padding: 30px 0;
}

.about-1 {
    margin: 15px;
    padding: 5px;
}

.about-1 h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}

.about-1 p {
    background-color: white;
    color: black;
    padding: 16px 24px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    width: calc(250px * 4 + 60px);
    max-width: 100%;
    margin: 20px auto;
    text-align: center;
}



.about-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between sections */
    flex-wrap: wrap;
}

.about-item {
    background-color: white;
    color: #003466;
    padding: 40px;
    width: 250px;  /* Ensures equal sizing */
    text-align: center;
    border: 2px solid black !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    margin-top: 20px;
}


.about-item h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 46px;
    height: 3px;
    background-color: white;
    margin: 10px auto; 
    border: none;
}

.about-item p {
    margin-top: 20px;
    color: #003466;
    transition: color 0.4s ease-in-out;
}

.about-item ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.about-item ul li {
    color: #003466;
    transition: color 0.4s ease-in-out;
    margin-bottom: 10px; /* Spacing between list items */
}

/* Hover Effects */
.about-item:hover {
    background-color: var(--primary-color);
    color: #fac01a;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: white;
}

.about-item:hover ul li {
    color: white; 
}

.about-item:hover hr {
    background-color: white;
}

.about-item:hover i {
    transform: translateY(-10px);
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr {
    transition: all 0.4s ease-in-out;
}

.about-body + .footer {
    margin-top: 0 !important;
}
