:root {
    --primary-color: #003466;
    }

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
}


/* ---------------------------- Nav Bar ---------------------------- */

.navbar-custom {
    background: var(--primary-color);
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: center;
}

.navbar-custom .nav-link {
    color: white;
}

.navbar-custom .nav-link:hover {
    color: #ffdd00; 
}

.logo {
    max-width: 70px;
    height: auto;
}


/* -------------------------- Home Page ------------------------- */

.btn {
    background-color: #00509e;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}

.btn:hover {
    background-color: #0077cc;
}


.banner {
    background: url('./assets/banner.jpg') no-repeat center center/cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    padding: 0 2rem;
}

.banner h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.banner p {
    font-size: 1.2rem;
    color: #ffffff;
    max-width: 600px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.button-chat {
    font-size: 1.2rem;
    color: #ffffff;
    max-width: 600px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding: 0.5em 1em; 
    background-color: #007bff; 
    border-radius: 5px; 
    display: inline-block; 
    margin-top: 1em; 
    transition: background-color 0.3s ease;
}

.button-chat:hover {
    background-color: #0056b3; 
}

.info-section, .about-section {
    padding: 3rem 2rem;
    background-color: #ffffff;
    margin: 2rem 0;
    text-align: center;
}

.info-section h2, .about-section h2 {
    color: #003466;
    margin-bottom: 1rem;
}

/* ----------------------- Login/Signup  ----------------------- */

/* Login Page */
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

.login-card {
    max-width: 400px;
    width: 100%; 
    border-radius: 10px; 
  }


  /* ----------------------- Footer  ----------------------- */

footer {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
